<div id="<%= dom_id comment %>">
  <p>
    <strong>Users:</strong>
    <%= comment.users_id %>
  </p>

  <p>
    <strong>Posts:</strong>
    <%= comment.posts_id %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= comment.text %>
  </p>

</div>
