<div>
  <%= form_with model: @comment, url: user_post_comments_path(@user, @post) do |f| %>
    <%= f.label :text %>
    <%= f.text_field :text %>
    <%= f.submit "Create Comment" %>
  <% end %>
</div>