<a href="/users/<%= params[:user_id]%>/posts">Back</a>
<div style="display: flex; flex-direction: column; gap: 5px;">
  <div style="border: 1px solid black;">
    <h2><%= %></h2>
  </div>
  
  <div style="border: 1px solid black;">
  </div>
</div>